{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
  "plugins": ["babel-plugin-transform-decorators-legacy", "transform-class-properties"]
}
