.nav
  background-color #292929
  height 4em
  line-height 2em
  display flex
  &_list
    display flex
    justify-content flex-end
    &_link
      padding 1em 1em 1em 0em
.title
  background-color #090909
  color #a72311
  margin 0
  padding-left 1em

.logo
  height 4em
  padding-left 1em
